<h1>User Details</h1>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<!-- Add more user attributes as needed -->
<p><strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>
<p>
  <strong>Resume:</strong>
  <%= link_to 'Download Resume', @user.resume.url if @user.resume.present? %>
</p>
